/* nav tutorial styleings */
*{
    margin: 0;
    padding: 0;
    font-family:Helvetica, sans-serif;
    /* background-color: #bbb; */
}
.header0{
    position: relative;
    width: 100%;
    height: 100vh;
}
.header{
   
    position: absolute;
    width: 100%;
    z-index: 30;
    background-color: transparent;
}
.header ul{
    list-style: none;
    overflow: hidden;
    height: 0;
}
.menu{
   position: absolute;
   right: 0;
    width:30% ;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}
.header li a{
  
    display: block;
    padding: 20px ;
   
    /* border-right: 1px solid rgb(116, 116, 116); */
    text-decoration: none;
}
.logo{
    display: inline-block;
}
/* menu icon */
.header .menu-icon{
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
   
}
.header .menu-icon .nav-icon{
    background: #333;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
}
.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out;
  width: 100%;
}
.header .menu-icon .nav-icon::before{
    top: 10px;
}
.header .menu-icon .nav-icon::after{
    top: -10px;
}
/* menu btn */
.header .menu-btn{
    display: none;
}
.header .menu-btn:checked ~ .menu{
    max-height: 240px;
}
/* this is me trying to make a semelrer effect for typing clup humpurgur icon */
/* .header .menu-btn:hover ~ .menu-icon .nav-icon{
    transform: rotate(45deg);
}
.header .menu-btn:hover ~ .menu-icon .nav-icon::before{
    transform: rotate(45deg);
    width: 18px;
    top: 5px;
    left: -5px;
}
.header .menu-btn:hover ~ .menu-icon .nav-icon:after {
    transform: rotate(-45deg);
    top: -5px;
    left: -5px;
   width: 18px;
  } */
/* ---------- the tutorial original styings -------------- */
.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
  }
  .header .menu-btn:checked ~ ul.menu{
      height: 50vh;
  }
  @media (min-width:48em){
      .header .menu {
          left: 0;

      }
   
     
  }
  /* herooooooooooooooooooooooooooo */
.hero{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}
.hero::before{
    position: absolute;
    background-image: url(../imgs/cat1.jpg);
    background-size: cover;
    background-position: bottom center;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: .7;
}
@media (min-width:700px){
    .hero::before{
        background-position: center;
    }

}
.flex-center{
 
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.hero::after{
    background-color: purple;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    z-index: 20;
}
.hero-message{
    position: relative;
    background-color: rgba(128, 0, 128, 0.363);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 30;
    min-width: 100%;
    min-height: 12rem;
    color: #fff;
    line-height: 2;
    padding-left: 20%;
    transform: translateY(50%);
    text-shadow: #343a40 2px 2px;
}